[%  INCLUDE header %]

Hi there.
<br>

Here's a number:
[% num %]
<br>

And here's a login form:<br>
[% form %]

Or, go <a href="[%url_base%]/register">here</a> to register a new account.<br><br>

[% INCLUDE footer %]
