[% INCLUDE header %]

This message is from <a href="[%url_base%]/userinfo/[%from.id%]"> [% from.name %] </a>

[% IF mail.invite %]
   <div class="invite_mail">
      <h3> This message is associated with an invitation. </h3>
      [% INCLUDE render_invite 
          invite=mail.invite
          controls=1 
      %]
   </div>
[% END %]

[% mail.message %]

[% INCLUDE footer %]
