
* {
	/*background:none repeat scroll 0 0 #000000;*/
}

html{
   display: inline-block;
   color:#FFFFFF;
   background:none repeat scroll 0 0 #000000;
}

body {
   height:100%;
   min-height:30em;
   width: 100%;
   position: absolute;
   text-align:left;
   margin: 0px;
   padding: 0px;
   background:none repeat scroll 0 0 #000000;
}

div#contentWrapper{
   -moz-border-radius-topleft:0.5em;
   -moz-border-radius-topright:0.5em;
   position:absolute;
   top:1em;
   bottom:5.5em;
   left:1em;
   right:1em;
   background:none repeat scroll 0 0 #4D494D;
}


div#footWrapper{
   bottom:1em;
   height:3.5em;
   left:1em;
   position:absolute;
   right:1em;
}


div#proverb-box{
   position:absolute;
   right:0;
   height:100%;
   width:20em;
   -moz-border-radius-bottomright:0.5em;
   background:none repeat scroll 0 0 #5D596D;
}
div#campaign-box{
   position:absolute;
   left:0;
   right:22em;
   height:100%;
   -moz-border-radius-bottomleft:0.5em;
   background:none repeat scroll 0 0 #5D596D;
}

div#campaign{
   margin-top: 1.25em;
   margin-left: 1em;
}
div#proverb{
   margin-left: .5em;
   margin-top: .5em;
}

div#main{
   text-align:center;
   padding: 20px;
   float:left;
}

nav#usernav {
   background:none repeat scroll 0 0 #222222;
   border:1px solid grey;
   float:left;
   margin: 10px;
   
  /* width:214px;*/
}

#navtable{
   font-size:14px;
}
#navtable tbody tr td{
   list-style:none outside none;
   border:3px solid #BDBDBD;
   padding: 0px 15px;
   -moz-border-radius:10px 10px 10px 10px;
   border-radius:10px 10px 10px 10px;
}

canvas.board{
   height: 350px;
   width: 350px;
}

footer {
   clear:both;
   float:left;
   width: 100%;
}


section#news{
   margin: 10px;
   width: 50%;
   float:left;
   border:1px solid grey;
   -moz-border-radius:10px 10px 10px 10px;
   border-radius:10px 10px 10px 10px;
}

a:link {
background:none repeat scroll 0 0 transparent;
color:#88aabb;
}

a:visited {
background:none repeat scroll 0 0 transparent;
color:#669990;
}

