
/* <STYLE TYPE="text/css">*/
a:link { 
	color: green;
	}
a:visited { 
	color: darkgreen;
	}


div.wraps_comments{
   width:200px;
   height:300px;
   overflow:scroll;
}

table.pagehead a
{
   color: yellow;
} 
table.pagehead {
   border:1px solid #000;
   background: #0C7311;
   color: #FFFC70;
   width: 100%;
}
table.pagehead td {
   border:0px;
	padding:.3em;
}

table.pagefoot {
   border:1px solid #000;
   background: #bbbbc4;
   color: #111111;
   width: 100%;
}
table.pagefoot a {
   color: #225;
   font-weight: bold;
}
table.pagefoot td {
   border:0px;
	padding:.3em;
}
table.pagefoot td#proverb {
   color: #000;
}
table.pagefoot td#campaign {
   color: #070;
}


table.gameslist {
   border: 2px solid #337733;
   background: #dddddd;
   width: 40%;
   border-collapse: collapse;
}

tr.headrow {
}
tr.headrow td {
   background: #000000;
   color: #ffffff;
   font-weight: bold;
   font-size: 110%;
   padding: 1px;
   border: 2px solid grey;
   text-align:center;
}

table.gameslist td{
   border-width: 1px;
   padding: 1px;
   text-align: center;
}

img.brdx{ width:25px; height:25px;}
img.brdl{ width:25px; height:25px;}
img.brdn{ width:31px; height:25px;}
img.capt{ width:25px; height:25px;}
td.brdx{ width:25px; height:25px;}
td.brdl{ width:25px; height:25px;}
td.brdn{ width:31px; height:25px;}

table.scrolled_board_view {
   
}
table.scrolled_board_view tr {
}
table.scrolled_board_view td {
   border:0px;
   text-align:center;
	padding:.2em;
   
}

table.Goban {
   border: 0px solid red;
   background-repeat: repeat;
   background-position: top left; /* 0% 0% - top left */
   background: white;
   empty-cells: hide;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0px auto;
}
table.Goban tr {
}

table.Goban td {
   border-width: 0px;
   text-align: left;
   color: black;
   padding: 0px;
   line-height: 0px;
   white-space: nowrap;
}
table.Goban a img,
table.Goban img {
   border-width: 0px;
   margin: 0px;
   padding: 0px;
}
a:link {color:#FF0000}
a:visited {color:#990000}
a:active    {color:#0000FF}
a:hover     {color:#000000}

tr.active_phase{
   background: #cdc;
}



 /*</STYLE>*/
 

