[%  INCLUDE header %]

Hi there.
<br>

Here's a number:
[% num %]
<br>
    
And here's every running game on this server:
<br>
<table>
[% FOREACH g = games_data %]
   <tr>
      <td><a href="/game/[% g.id %]"> [% g.id %] </a></td>
   <tr>
[% END %]
</table>
    
[% INCLUDE footer %]
