[%  INCLUDE header %]


An invite will remain open until either one invitee rejects it or until every invitee accepts it. <br>

Here's every one of your currently open invites:<br>
<br>

[% FOR i IN invites %]
   [% INCLUDE render_invite 
       invite=i
       controls=1 
   %]
[% END %]



[% INCLUDE footer %]
