[%  INCLUDE header %]

Hi there.
<br>

Here's a number:
[% num %]
<br>
    
And here's a login form:
<br>
<form action="login" method="POST">
   <input name="username" value="" tabindex="1" size="16" maxlength="16" type="text"><br>
   <input name="passwd" tabindex="2" size="16" maxlength="16" type="password"><br>
   <input name="login" value="Log in" tabindex="3" type="submit">
</form>
Or, go <a href="register">here</a> to register a new account.<br><br>

[% INCLUDE footer %]
