[%  INCLUDE header %]

Hi there.
<br>

Here's a number:<br>
  88<br>
    
And here's a message from the server:
<br>
<span style="color: #88b;">[% err %][% message %]</span></b><br>

[% INCLUDE footer %]
